html
    head
        title The Number Quiz
    body
         div(class="card shadow-lg p-3")
            div.card-body
                h4.card-title The Number Quiz
                p Your current score is: 
                    strong #{score}
                p You have completed the Number Quiz, with a score of #{score} out of 5.